= debug @main
= form_for @item, as: :item, url: @item.new_record? ? dashboard_items_path : dashboard_item_path(@item), :html => {:multipart => true} do |f|
  =f.error_messages

  #title
    = f.label Item.human_attribute_name(:title)
    = f.text_field :title
  
  #body
    = f.label Item.human_attribute_name(:body)
    %br
    = f.text_area :body, :size => '70x25'
    
  #tags
    = label_tag :tags, t(:tags, :scope => [:item_fields])
    = text_field_tag :tags, f.object.tags.map{|tag| tag.name}.join(', ')
    
  = f.fields_for :images do |fi|
    = render :partial => 'image_fields', :locals => { :f => fi }
  %p=add_child_link t(:add_upload_field, :item => t(:of_image)), :images
  =new_child_fields_template f, :images, :partial => 'image_fields'

  .actions
    = f.submit t(:save)