= form_for @item, as: :item, url: @item.new_record? ? dashboard_items_path : dashboard_item_path(@item), :html => {:multipart => true} do |f|
  =f.error_messages

  #title
    = f.label :title, t(:title, :scope => :item_fields)
    = f.text_field :title
  
  #body
    = f.label :body, t('item_fields.body')
    %br
    = f.text_area :body
    
  #tags
    = label_tag :tags, t(:tags, :scope => [:item_fields])
    = text_field_tag :tags, f.object.tags.map{|tag| tag.name}.join(', ')
  
  #image
    - @item.images.each do |image|
      = f.fields_for image, :index => image.id || :new do |fi|
        = image_tag(fi.object.filename_url) if fi.object.filename?
        = fi.file_field :filename
        = fi.hidden_field :filename_cache unless fi.object.new_record?

  .actions
    = f.submit 'Сохранить'