.item
  .item--title-area
    .item--title= item.title
    .item--create-time
      = item.created_at.strftime('%d-%b-%Y %H:%M')
      = link_to t(:remove), dashboard_item_path(item), method: :delete, data: { confirm: 'Уверены?' }, title: "Удалить"
      = link_to t(:edit), edit_dashboard_item_url(item)
  .item--body
    -if !item.main_image.blank?
      %img{:src => item.main_image.filename_url}
    = simple_format(item.body)
  - unless item.images.empty?
    .item--images
      - item.images.each do |image|
        %img{:src => image.filename_url(:thumb)}
  .item--tags
    =k(item).link_to_tags
