!!!
%html
  %head
    %titleDashBoard
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      #auth-area
        = render 'auth'
      #translator-area
        = render 'translator'
  
    #content-area
      #left-area
        = render 'menu'
        = render 'tag/tags'
      #content
        = yield